.agregarInstrucciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f359; 
    width: 35%;
}

.agregarInstrucciones textarea {
    width: 100%;
    max-width: 390px;
    margin: 20px;
}

#prePrincipal {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.agregarInstrucciones,
.convertidor {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}


.convertidor {
    width: 58%;
    background-color: #f3f3f359; 
}

.convertidor h5 {
    text-align: center; /* Centra el título */
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre los dos contenedores */
    margin: 0 10px; /* Márgenes a las orillas */
}

.ingresaNum,
.numConvertido {
    width: 48%; /* Cada contenedor ocupa casi la mitad del espacio disponible */
    margin-left: 20px;
    margin-right: 20px;
}

.convertidor {
    padding: 10px;
    background-color: #f3f3f359; /* Color de fondo */
    border-radius: 5px;
}

#instrucciones {
    width: 100%;
    min-height: 1em;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

button {
    margin-top: 5px;
}

.botones-instrucciones {
    display: flex;
    gap: 10px;
    /* Espacio entre los botones */
    flex-wrap: wrap;
    justify-content: center;
}

.botones-instrucciones button {
    flex: 1;
    min-width: 120px;
    /* Ajusta este valor según sea necesario */
}



#tablaInstrucciones {
    max-width: 450px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    /* table-layout: fixed;  Esto asegura que las columnas tengan un ancho fijo */
}



.titulo {
    text-align: center;
}

/* contenedor para instrucciones, memoria, opcode y registro */
#container {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 100px;
}


.memoria {
    width: 50%;
    margin-right: 70px;
    margin-left: 40px;
    text-align: center;
    max-width: 300px;
}

.registros {
    width: 50%;
    text-align: center;
    max-width: 300px;
}

.instruccion-actual {
    background-color: rgba(89, 179, 253, 0.404);
}

.toast {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00a025bd;
    color: #ffffff;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/*
    .toast {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
} */

.toast.show {
    display: block;
    opacity: 1;
}

.toast.hide {
    opacity: 0;
}

.toast-2 {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e45050ef;
    color: #f5f5f5;
    border-color: #202020;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast-2.show {
    display: block;
    opacity: 1;
}

.toast-2.hide {
    opacity: 0;
}

.toast-3 {
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 227, 227);
    /* Fondo rojo sin opacidad */
    color: rgb(39, 35, 35);
    /* Color de texto blanco */
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: .75rem 1.25rem;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
    border-radius: .25rem;
}

#opcode-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f359; 
    width: 100%;
}


#opcodecito {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

#opcode-container h5 {
    text-align: center;  /* Centra solo el título */
    margin-bottom: 20px;
    margin-top: 10px;           
}

#opcode-container p {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    /*  white-space: pre; Respeta los espacios en blanco después de las letras */ 
    width: 300px; 
    height: 32px; 
    padding-top: 3px;
    text-align-last: center ;
    background-color: #edeef0; 
    flex-direction: column;
}

#opcodeHex p {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    /*  white-space: pre; Respeta los espacios en blanco después de las letras */ 
    width: 150px; 
    height: 32px; 
    padding-top: 3px;
    text-align-last: center ;
    background-color: #edeef0; 
    flex-direction: column;
}

#opcode-container label {  
    white-space: pre;
    margin-bottom: 20px;
}

/*esto es para el contenedor de las instrucciones ya agregadas */
.instrucciones{
    text-align: center;
    width: 400px; 
    margin-left: 30px;
}

/* archivo styles.css */
.button-margin {
    margin-right: 5px;
    margin-bottom: 5px;
}

.insMem {
    display: flex;
    flex-direction: column;
    width: 58.5%;
}

.insMem2 {
    display: flex;
    flex-direction: row;
}
.botonesIns{
    margin-top: 125px;

    margin-right: 10px;
}

#tablaMemoria {
    width: 100%;
}

.memYreg {
    width: 90%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.page-link {
    color: #343a40; 
    background-color: #97999b; 
}


.page-link:hover {
    color: #ffffff; 
    background-color: #495057; 
    border-color: #343a40; 
}

.page-item{
    width: 100%;
}

.navega{
    margin-top: -10px;
    width: 100%;
}

.resaltar {
    background-color: rgba(125, 221, 101, 0.904); /* O el color que prefieras */
    transition: background-color 0.5s ease;
}